body{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    background-color:rgba(250, 133, 30, 0.897);
}

#container{
    width:90%;
    height:400px;

    margin: 30px auto;

    border : 2px solid black;
    display:flex;

    align-items:flex-end;
    justify-content:center;

    gap:4px;

}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.bar{
    width:200px;
    background-color: maroon;

    transition : height 0.3s ease;
}